<h1>People</h1>

<p></p>
<% @person.each do |i| %>
     first_name::::::::::<%= i.first_name %> <br>
   last_name::::::: <%=i.last_name%> <br>
   email_address:::::::: <%= i.email_address%> <br>
   Uuid:::::::: <%= i.uuid%> <br>
    Person Desgination:::::::: <%= i.title%> <br>
    Phone_number:::::::: <%= i.phone_number_mobile %> <br>
    <br>
    <br>
    <br>

<% end %>
<%= link_to "save_to_database_person", people_persist_path %>
